
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;


}

:root{
    --text-color:#f5f5f5;
    --hover-color:#12f7ff;
    --bg-color:#250821;
    --secon-bg-color:#292e33;
    --big-font:2.5rem;
    --norma-font:2rem;
    --neon-box-shadow:0 0 .5rem #12f7ff;
    --font-neon-text-shadow: 0 0 10px rgba(18,247,255,0.6),
    0 0 20px rgba(18,247,255,0.6),
    0 0 30px rgba(18,247,255,0.6),
    0 0 40px rgba(18,247,255,0.6),
    0 0 70px rgba(18,247,255,0.6),
    0 0 100px rgba(18,247,255,0.6),
    0 0 150px rgba(18,247,255,0.6),
}

body{
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);


}







/* ----------------------------header section------------------  */





header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 padding: 20px 10%;
 z-index: 10000;
 position: fixed;
}

.logo{
   font-size: 26px;
   font-weight: 700;
   letter-spacing: 1px;
}

span{
    color:var(--hover-color)
}

.navlist{
    display: flex;
   
}
.navlist a{
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
}

.navlist a:hover{
    color: var(--hover-color);
    text-shadow: 0 0 10px rgba(18,247,255,0.6),
    0 0 20px rgba(18,247,255,0.5),
    0 0 30px rgba(18,247,255,0.6),
    0 0 40px rgba(18,247,255,0.5),
    0 0 70px rgba(18,247,255,0.5),
    0 0 100px rgba(18,247,255,0.5),
    0 0 150px rgba(18,247,255,0.5);
}







/* ----------------------------------------Home section---------------------  */




.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;


}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: var(--big-font);
    font-weight: 700;
}
.word{
    color: #0ef;
}

.change-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.change-text h2 {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .word {
    position: absolute;
    opacity: 0;
}

.change-text h3 .word .letter {
    transform-origin: center center 25px;
    display: inline-block; /* Added this line to fix layout */
}

.change-text h3 .word .letter.out {
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
    opacity: 0; /* Added this line to fix the disappearance during rotation */
}

.change-text h3 .word .letter.in {
    transform: rotateX(0);
    transition: 0.38s ease;
}

.change-text h3 .word .letter.behind {
    transform: rotateX(-90deg);
}

.home-content p{
    color: #bdbdbd;
    line-height: 1.6;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background:transparent ;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size:20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    box-shadow: 1px 1px 5px #012290f7,
    1px 1px 10px #0053b8f7
    
}

.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    border: 2px solid #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #0ef;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 1px 1px 5px #012290f7,
    1px 1px 10px #0053b8f7
}
.btn:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.home-image{
    position: relative;
    margin-bottom: 12%;
}
.home-image .img-box{
    height: 300px;
    width: 300px;
    display: inline-block;
    padding: 12px 28px;
    border: 2px solid #0ef;
    border-radius: 50%;
    color: #0ef;
    border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    display: block;
    /* box-shadow: var(--neon-box-shadow); */
    box-shadow: 1px 1px 15px #012290f7,
    1px 1px 30px #0053b8f7;
    border: 1px solid var(--bg-color);
    z-index: 100;
    animation: morph 6s linear infinite;

    /* ---------------   ---------   */

    background-image: url(pngpic.png);
    background-size: cover;
}

















/* ----------------------about section --------------------------  */






.about{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 10%;
    grid-gap: 2em;
    background-color: var(--bg-color);

}
.about .img-about img{
    
    height: 300px;
    width: 300px;
    display: inline-block;
    padding: 12px 28px;
    border: 2px solid #0ef;
    border-radius: 50%;
    color: #0ef;
    background-image: url(pngpic.png);
    background-size: cover;
    box-shadow: 1px 1px 10px #012290f7,
    1px 1px 20px #0053b8f7
    
}


.about .img-about{
    text-align: center;
    position: relative;
}


.info-about1,
.info-about2,
.info-about3{
    background: var(--bg-color);
    font-size: .5rem;
    position: absolute;
    padding: 10px;
    width: 90px;
    height: 90px;
    border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    display: block;
    box-shadow: var(--neon-box-shadow);
    border: 1px solid var(--bg-color);
    z-index: 100;
    animation: morph 6s linear infinite;
}

.info-about1{
    left: 8%;
    top: 70%;
}

.info-about2{
    left: 35%;
    top: 75%;
}

.info-about3{
    left: 63%;
    top: 70%;
}

.img-about span{
    color: var(--hover-color);
    font-size: 1rem;
    font-weight: 600;
}

.about-content .about-box{
    align-items: center;
    width: 70%;
    margin-left: 15%;
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem ;
    text-align: center;
    background: transparent;
    transition: transform .4s;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s;
    box-shadow: 1px 1px 8px #012290f7,
                1px 1px 16px #0053b8f7
    
}

.about-box h3{
    margin-top: 10px;
    font-size: 1.5rem;
}

.about-box p{
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 1.6;
}










/* --------------------services--------------------------  */







#services{
    padding: 7% 10% 5% 10%;
}


.main-text{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);
}

.main-text h2{
    font-weight: 700;
    font-size: var(--norma-font);
}

.main-text span{
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.section-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
}

.section-services .service-box{
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem ;
    text-align: center;
    background: transparent;
    transition: transform .4s;
    border-radius: 20px;
    transition: background 0.5s,transform 0.5s;
    box-shadow: 1px 1px 8px #012290f7,
                1px 1px 16px #0053b8f7
    
}

.service-box:hover{
    transform: translateY(-.7rem);
}
.service-btn{
    margin-top: 2rem;
    width: auto;
    justify-content: center;
}

.service-icon{
    border: 2px solid var(--hover-color);
    padding: 1rem;
    background: var(--bg-color);
    display: flex;
    align-items: center;
   
    font-size: 3rem;
    border-radius: 50%;
    position: relative;
    color: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    outline: 3px solid var(--bg-color);
}

.service-box h3{
    margin-top: 10px;
    font-size: 1.5rem;
}

.service-box p{
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    color: #bdbdbd;
    line-height: 1.6;
}









/* ------------------Skills--------------------------  */






.skills{
    background-color: var(--bg-color);
    padding: 7% 10% 5% 10%;

}
.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skill-bar{
    margin-bottom: 2rem;
   
}

 .bar{
   display: inline-block;
}

.skill-main h3{
    margin-bottom: 2rem;
    font-size: var(--norma-font);
    text-align: center;
}

.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar{
    width: 100%;
    height: 5px;
    background-color: var(--secon-bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
    
}

.skill-bar .bar span{
width: 50%;
height: 100%;
position: absolute;
left: 0;
/* background: var(--hover-color); */
background: var(--neon-box-shadow);
border-radius: 25px;
box-shadow: var(--neon-box-shadow);

}

.skill-bar .bar .html {
    width: 75%;
    animation: html 2s;
}

.skill-bar .bar .css {
    width: 70%;
    animation: css 3s;
}

.skill-bar .bar .javascript {
    width: 70%;
    animation: javascript 4s;
}

.skill-bar .bar .react {
    width: 50%;
    animation: react 5s;
}

.skill-bar .bar .nodejs {
    width: 50%;
    animation: nodejs 6s;
}

.skill-bar .bar .mongodb {
    width: 50%;
    animation: mongodb 7s;
}







/* -------skill right------------  */


.professional{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box{
    position: relative;
    margin: 10px 0;
    flex: 1 1 15rem;
}
.box .text{
    text-align: center;
    color: #fff;
    font-size: 1rem;
}
.box .text big{
   font: 400;
   letter-spacing: 1px;
   position: absolute; 
   top: 40%;
   left: 50%;
   transform: translate(-50%,-50%);
}
.box .text small{
    display: block;
    font-weight: 600;
}
.circle{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.circle .points{
    width: 2px;
    height: 7px;
    background-color: var(--bg-color);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
    
}


.points.marked{
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}








/* ---------------------Portfolio--------------------------------------------  */


#portfolio{
    padding: 7% 10% 5% 10%;

}
.port-image img{
    height: 270px;
    width: 360px;
}

.fillter-buttons{
    margin: 2rem;
    text-align: center;
}

.fillter-buttons .btn{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1.3rem;
    color: var(--text-color);
}

.fillter-buttons .btn:hover{
    color: var(--hover-color);
}

.portfolio-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(270px , 1fr));
    gap:2rem;
}

.port-box{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #292e33;
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid var(--hover-color);
    box-shadow: 1px 1px 10px #012290f7,
    1px 1px 20px #0053b8f7;
}  

.port-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}

.port-image img{
    width: 100%;
    opacity: .5s;
    height: 100%;
    transition: .5s;
}

.port-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,.2),#12f7ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
    padding: 0 2rem;
}

.port-box:hover .port-content{
    opacity: 1;
}

.port-box:hover .port-image img{
    transform: scale(1.1);
}
.port-content h3{
    font-size: 1.5rem;
    font-weight: 600;
}

.port-content p{
    font-size: .8rem;
    margin: 5px 0 15px 0;
}

.port-content a{
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--hover-color);
    outline: 2px solid #fff;
}

.port-content a i{
    font-size: 1.3rem;
    color: var(--secon-bg-color);
}









/* --------------------Contact Me-----------------------  */

.contact-content{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 70vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: top;
    
    grid-gap: 5rem;
    padding-bottom: 0%;
}

#contact{
    width: 100%;
    padding: 7% 10% 5% 10%;;
}

.contact form{
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;

}


.contact form input,
.contact form textarea{
    width: 100%;
    color: var(--text-color);
    background: var(--bg-color);
    margin-bottom: .8rem;
    border: none;
    border-end-end-radius: 5px;
    padding: .7rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #012290f7,
    1px 1px 10px #0053b8f7
}

.contact form textarea{
    resize: none;
}

.formBtn{
    
    display: flex;
    justify-content: center;
    width: 100%;
   

}

.formBtn .btn{
    background:#250821;
    cursor: pointer;
    font-size: 1rem;
}
.formBtn .btn:hover{
    background: #0ef;
    color: #250821;
}



.home-content h4{
    margin: 15px 0;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
}
.home-content p{
    color: rgb(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.home-content .contact-list{
    margin-bottom: 1.5rem;
}

.home-content .contact-list li{
    margin-bottom: 10px;
    display: block;
}

.home-content .contact-list i{
    display: inline-block;
    color: #012290f7;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}


.home-content .contact-logo a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background:transparent ;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size:20px;
    color: #0ef;
    text-decoration: none;
    margin: 0px 15px 25px 0px;
    box-shadow: 1px 1px 5px #012290f7,
    1px 1px 10px #0053b8f7
    
}

.home-content .contact-logo a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}












/* ---------------- footer---------------  */

footer{
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p{
    color: #bdbdbd;
}











/* --------------keyframe-------------------------  */

@keyframes morph{
    0%,
    100%{
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    30%{
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    60%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
    80%{
        border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    }
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

@keyframes react {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes nodejs {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
@keyframes mongodb {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}



@keyframes glow{
    0%{
        background: var(--bg-color);
        box-shadow: none;
    }
    100%{
        background: var(--hover-color);
        box-shadow: var(--neon-box-shadow);
    }
}

